{{define "header"}}
  <link rel="stylesheet" type="text/css" href="html.css">
  <script type="text/javascript" src="script_bundle.min.js"></script>
{{end}}

{{define "body"}}
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp html-lens-table">
    {{ range $documents:= . }}
    <tr class="header section-expander" data-artifact-index="{{.Index}}">
      <td class="mdl-data-table__cell--non-numeric expander failed html-lens-cell" colspan="1">
        <span class="artifact-title">{{.Title}}</span>
        <img src="/static/kubernetes-wheel.svg" alt="loading" class="metadata-spinner" style="width: 14px; height: 14px; margin-left: 6px; vertical-align: middle;">
      </td>
      <td class="mdl-data-table__cell--non-numeric expander html-lens-cell"><i class="icon-button material-icons arrow-icon noselect">expand_more</i></td>
    </tr>
    {{/* Content will be fetched via callback using the artifact index */}}
    <tr class="hidden-data" id="{{.ID}}-tr" data-index="{{.Index}}">
      <td colspan="2" style="border: 0px; padding: 0px;">
        <div class="html-loading-container" style="display: none; text-align: center; padding: 20px 0;">
          <img src="/static/kubernetes-wheel.svg" alt="loading spinner" class="loading-spinner" style="width: 50px; height: 50px;">
        </div>
        <iframe srcdoc="" title="{{.Filename}}" sandbox="allow-scripts allow-popups allow-same-origin" id="{{.ID}}" width="100%" scrolling="no"></iframe>
      </td>
    </tr>
    {{end}}
  </table>
{{end}}
